@import './base.css';

#app {
  margin: auto auto;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: hsl(240 100% 66%);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsl(240 100% 66% / 0.2);
  }
}

header {
  background-color: var(--color-background-soft);
}